<ion-header>
    <ion-tab-bar slot="right">
      <ion-title>
        Localização
      </ion-title>
      <ion-buttons>
        <button ion-button icon-only solid expand="block" 
        routerLink="/home1" routerDirection="root">
          <ion-icon name="home" size="large" ></ion-icon>
        </button>
        <ion-icon name="person" size="large"></ion-icon>
      </ion-buttons>
    </ion-tab-bar>
</ion-header>
<ion-content>

</ion-content>
<ion-footer class="ion-padding">
  <button ion-item lines="none">
      <ion-icon name="add-circle" size="large"></ion-icon><br>
      <ion-label>Add macrófita</ion-label>
  </button>
  <button ion-item lines="none">
      <ion-icon name="create" size="large"></ion-icon><br>
      <ion-label>Add anotações</ion-label>
  </button>
  <button ion-item lines="none">
      <ion-icon name="locate" size="large"></ion-icon><br>
      <ion-label></ion-label>
  </button>
</ion-footer>