.ion-padding {
    --padding: 10px;
};
.custom-icon-home {
    color: #9acd32;
    font-size: 40px;
    position: left;
    padding-right: 5px;
};
.custom-item-home {
    padding: 5px;
    text-align: right;
};
img {
    display:block;
    width:75%;
    height:auto;
    margin: auto;
    padding-bottom: 30px;
};
button {
    background: none;
    padding: 10px;
};
ion-col {
    
};
#grid1 {
    margin: 0 auto;
};
ion-row {
    justify-content: center;
};